body
{
    /*COLOURS*/
    background-color: #6892A6;

    /*TEXT*/
    text-align: center;
    margin-bottom: 0%;
    padding-bottom: 0%;

    /*MARGINS*/
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
}

nav
{
    /*COLOURS6891A6*/
    background-color: #291506;
    /*SIZE*/
    width: 100%;

    /*TEXT*/
    text-align: center;
    font-weight: bold;
    padding-top: 0.5%;
    padding-bottom: 0.5%;

    position: fixed;
}

.navitem
{
    /*COLOURS*/
    background-color: #472409;
    color: #211103;
    /*SIZE*/

    /*TEXT*/
    text-align: center;
    font-weight: bold;

    text-decoration: none;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;

    position: relative;
    display: inline-block;
}

.navitem:hover, .navitem:hover
{
    background-color: #241203;
    color: #472409;
}

.banner
{
    /*COLOUR*/
    background-color: #C2C2C2;

    /*SIZE*/
    width: 100%;

    /*TEXT*/
    font-size: 25px;
    font-family: "Lucida Console", "Courier New", monospace;
    padding-top: 3.5%;
    padding-bottom: 0.5%;
}

footer
{
    background-color: #0e0e0e;
    color: #fefefe;

    font-size: 15px;
    font-family: "Lucida Console", "Courier New", monospace;

    position: relative;
    bottom: 0;
    margin-top: 5%;
    margin-bottom: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
}

img
{
    margin: auto;
    width: 90%;
}

text
{
    display: block;
    background-color: #D9D9D9;
    margin: auto;
    padding: 10%;
}

table
{
    background-color: #62899C;
    margin: auto;
    padding: 5%;
    width: 100%;
}

h3
{
    margin-left: 5%;
    margin-right: 5%;
}

a
{
    color: #fefefe;
    text-decoration: none;
}

::-webkit-scrollbar
{
    width: 0%;
}