body
{
    /*COLOURS*/
    background-color: #6892A6;

    /*TEXT*/
    text-align: center;
    margin-bottom: 0%;
    padding-bottom: 0%;

    /*MARGINS*/
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
}

nav
{
    /*COLOURS6891A6*/
    background-color: #3B1E08;
    /*SIZE*/
    width: 100%;

    /*TEXT*/
    text-align: center;
    font-weight: bold;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
}

.navitem
{
    /*COLOURS*/
    background-color: #543925;
    color: #3B1E08;
    /*SIZE*/

    /*TEXT*/
    text-align: center;
    font-weight: bold;

    text-decoration: none;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;

    display: inline-block;
}

.navitem:hover, .navitem:hover
{
    background-color: #381D08;
    color: #543925;
}

.banner
{
    /*COLOUR*/
    background-color: #D9D9D9;

    /*SIZE*/
    width: 100%;

    /*TEXT*/
    font-size: 25px;
    font-family: "Lucida Console", "Courier New", monospace;
    padding-top: 3.5%;
    padding-bottom: 0.5%;
}

footer
{
    background-color: #0e0e0e;
    color: #fefefe;

    font-size: 10px;
    font-family: "Lucida Console", "Courier New", monospace;

    position: relative;
    bottom: 0;
    margin-bottom: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: 20%;
}

img
{
    margin: auto;
    width: 90%;
}

text
{
    display: block;
    background-color: #D9D9D9;
    margin: auto;
    padding: 10%;
}

table
{
    background-color: #62899C;
    margin: auto;
    padding: 5%;
    width: 100%;
}

a
{
    color: #fefefe;
    text-decoration: none;
}

::-webkit-scrollbar
{
    width: 0%;
}