<style>
	
	body {
		background-color: #e00000;
		text-align: center;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
	}		
	
	nav{
		padding-top: 25px;
		padding-bottom: 25px;
		text-align: center;
		font-weight: bold;
		background-color: #af0000;
		width: 100%;
	}
	
	article {
		margin-left: 80px;
		margin-right: 80px;
		margin-bottom: 15px;
		padding-bottom: 15px;
		padding-top: 15px;
		background-color: #d08080;
	}
	
	footer {
		padding-top: 15px;
		padding-bottom: 15px;
		margin-left: 80px;
		margin-right: 80px;
		margin-bottom: 25px;
		
		border-radius: 25px;
		background-color: #d08080;
	}
	
	.banner{
		font-size: 25px;
		padding-top: 25px;
		padding-bottom: 25px;
		background-color: #a00a00;
		width: 100%;
	}
	
	#title{
		font-size: 30px;
	}
	
	#red{
		color: #b00000;
		text-decoration: underline;
	}
	
	p{
		margin-left: 80px;
		margin-right: 80px;
	}
	
	h4{
		margin-left: 80px;
		margin-right: 80px;			
	}
	
	a:link, a:visited{
		padding: 15px 25px;
		background-color: #ddaaaa;
		color: #b00000;
		text-decoration: none;
		display: inline-block;
	}
	
	a:hover, a:active{
		background-color: #eebbbb;
	}	
	
</style>
